@import '../../../../../variables.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: $primary;
  color: $text;
  padding: 15px;
  margin: 1rem;
}
.cadre {
}
