<main class="loginForm__container">
  <h2>Page de connection</h2>
  <form class="login__form" [formGroup]="loginForm" (submit)="onSubmit()">
    <input
      class="loginForm__input"
      [ngClass]="{
        invalid: loginForm.get('email')?.invalid && isFocused,
      }"
      type="email"
      placeholder="Email..."
      formControlName="email"
      required
      email
      (focus)="onFocus()"
      (blur)="onBlur()" />
    <span *ngIf="loginForm.get('email')?.invalid && isFocused"> Entrez une addresse mail valide. </span>
    <input class="loginForm__input" type="text" placeholder="Mot de passe..." formControlName="password" required />
    <button class="loginForm__submitButton" type="submit" [disabled]="!loginForm.valid">Connection</button>
    <p>Pas encore de compte? <a routerLink="/register"> cliquez ici</a></p>
  </form>
</main>
