@import '../../../variables.scss';
.userPage {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  height: 100%;
  min-height: calc(100vh - 104.5px);
  width: 100%;
  background-color: $background;

  /*  background-image: linear-gradient(
      112.5deg,
      rgb(247, 185, 168) 0%,
      rgb(247, 185, 168) 10%,
      rgb(245, 167, 147) 10%,
      rgb(245, 167, 147) 53%,
      rgb(243, 150, 125) 53%,
      rgb(243, 150, 125) 55%,
      rgb(241, 132, 103) 55%,
      rgb(241, 132, 103) 60%,
      rgb(239, 114, 82) 60%,
      rgb(239, 114, 82) 88%,
      rgb(237, 97, 60) 88%,
      rgb(237, 97, 60) 91%,
      rgb(235, 80, 39) 91%,
      rgb(235, 80, 39) 100%
    ),
    linear-gradient(
      157.5deg,
      rgb(247, 185, 168) 0%,
      rgb(247, 185, 168) 10%,
      rgb(245, 167, 147) 10%,
      rgb(245, 167, 147) 53%,
      rgb(243, 150, 125) 53%,
      rgb(243, 150, 125) 55%,
      rgb(241, 132, 103) 55%,
      rgb(241, 132, 103) 60%,
      rgb(239, 114, 82) 60%,
      rgb(239, 114, 82) 88%,
      rgb(237, 97, 60) 88%,
      rgb(237, 97, 60) 91%,
      rgb(235, 80, 39) 91%,
      rgb(235, 80, 39) 100%
    ),
    linear-gradient(
      135deg,
      rgb(247, 185, 168) 0%,
      rgb(247, 185, 168) 10%,
      rgb(245, 167, 147) 10%,
      rgb(245, 167, 147) 53%,
      rgb(243, 150, 125) 53%,
      rgb(243, 150, 125) 55%,
      rgb(241, 132, 103) 55%,
      rgb(241, 132, 103) 60%,
      rgb(239, 114, 82) 60%,
      rgb(239, 114, 82) 88%,
      rgb(237, 97, 60) 88%,
      rgb(237, 97, 60) 91%,
      rgb(235, 80, 39) 91%,
      rgb(235, 80, 39) 100%
    ),
    linear-gradient(90deg, rgb(245, 167, 147), rgb(228, 228, 228));
  background-blend-mode: overlay, overlay, overlay, normal; */
}

.userPage-title {
  color: $accent;
}
@media screen and (min-width: 768px) {
  .userPage {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    min-height: calc(100vh - 119px);
  }
}
