<main class="myEvent">
  <div class="myEvent_eventContainer">
    <div class="myEvent_nav-container">
      <h2>Mes évènements:</h2>
      <nav class="myEvent-nav">
        <button class="myEvent-button" [ngClass]="{ active: incomingEvents }" (click)="onClickIncoming()">
          <span class="material-symbols-outlined"> event_upcoming </span>
          <h4>À venir</h4>
        </button>
        <button class="myEvent-button" [ngClass]="{ active: !incomingEvents }" (click)="onClickpast()">
          <span class="material-symbols-outlined"> history </span>
          <h4>Passés</h4>
        </button>
      </nav>
    </div>
    @if (events | async; as e) {
      <section class="myEvent_incoming">
        @if (incomingEvents) {
          @for (event of e.future; track event.uid) {
            <a class="eventCard__link" routerLink="/event/{{ event.uid }}/groups/{{ event.group_id }}">
              <article class="eventCard">
                <img class="eventCard-img" src="{{ event.images.thumbnail }}" alt="" />

                <div class="eventCard_descriptionContainer">
                  <div class="title__event__history">
                    <h5>{{ event.title }}</h5>
                  </div>
                  <p class="event__history__date">{{ event.date_range }}</p>
                  <p class="eventCard__textDesc">{{ event.description }}</p>
                </div>
              </article>
            </a>
          }
        }
      </section>
      <section class="myEvent_past">
        @if (!incomingEvents) {
          @for (event of e.last; track event.uid) {
            <a class="eventCard__link" routerLink="/event/{{ event.uid }}/groups/{{ event.group_id }}">
              <article class="eventCard">
                <img class="eventCard-img" src="{{ event.images.thumbnail }}" alt="" />

                <div class="eventCard_descriptionContainer">
                  <div class="title__event__history">
                    <h5>{{ event.title }}</h5>
                  </div>
                  <p class="event__history__date">{{ event.date_range }}</p>
                  <p class="eventCard__textDesc">{{ event.description }}</p>
                </div>
              </article>
            </a>
          }
        }
      </section>
    }
  </div>
</main>
