@import '../../../../../variables.scss';
@import './animations.scss';
@import './gradient.scss';

.myEvent {
  box-shadow: rgba(223, 52, 98, 0.3) 0px 4px 12px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.myEvent_nav-container {
  background: linear-gradient(to bottom, #df3462 0%, #e0e1a6 100%);
  color: $text;
  padding: 1rem;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.myEvent_eventContainer {
  background-color: $secondary;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 70vh;
  max-width: 500px;
  border-radius: 0.5rem;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.myEvent_eventContainer::-webkit-scrollbar {
  display: none;
}

.myEvent-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.myEvent-button {
  all: unset;
  padding: 1rem;
  color: $text;
  font-weight: 200;
  font-family: $titleFont;
}
.myEvent-button:hover {
  color: $text;
  font-size: 1.5rem;
  font-weight: 700;
  filter: drop-shadow(3px 5px 3px $accent);
}
.active {
  color: $text;
  font-size: 1.5rem;
  font-weight: 700;
  filter: drop-shadow(3px 3px 3px $accent);
}

.eventCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1rem 0;
}
.eventCard-img {
  width: 100px;
}
.eventCard_cardDescription {
  text-align: center;
  padding: 0.5rem;
}

.myEvent-illustration {
  display: none;
}
@media screen and (min-width: 768px) {
  .myEvent_eventContainer {
    max-height: 70vh;
    max-width: 800px;
    height: 70vh;
    .eventCard {
      flex-direction: row;
      justify-content: space-around;
    }
    .eventCard-img {
      width: 30%;
      height: 100%;
    }
  }
  .myEvent {
    max-width: 1300px;
  }
  .myEvent-illustration {
    margin-left: 2rem;
    display: block;
    width: 50%;
    animation: fadeInCenterLarge 0.3s linear 0s 1 normal forwards;
  }
}
