<!-- <main class="myEvent">
  <div class="myEvent_eventContainer">
    <div class="myEvent_nav-container">
      <h2>Mes évènements:</h2>
      <nav class="myEvent-nav">
        <button class="myEvent-button" [ngClass]="{ active: incomingEvents }" (click)="onClickIncoming()">
          <span class="material-symbols-outlined"> event_upcoming </span>
          <h4>A venir!</h4>
        </button>
        <button class="myEvent-button" [ngClass]="{ active: !incomingEvents }" (click)="onClickpast()">
          <span class="material-symbols-outlined"> history </span>
          <h4>Passés</h4>
        </button>
      </nav>
    </div>
    <section class="myEvent_incoming" *ngIf="incomingEvents">
      <a class="eventCard__link" routerLink="/event/{{ event.id - 1 }}" *ngFor="let event of eventList">
        <article class="eventCard">
          <div class="eventCard__category__wrapper">
            <img class="eventCard-img" src="{{ event.images.thumbnail }}" alt="" />
            <h2 class="eventCard__category__name">{{ event.description }}</h2>
          </div>
          <div class="eventCard_descriptionContainer">
            <div class="title__event__history">
              <h5>{{ event.title }}</h5>
            </div>
            <p class="event__history__date">{{ event.dateRange }}</p>
            <p class="eventCard__textDesc">{{ event.description }}</p>
          </div>
        </article>
      </a>
    </section>
    <section class="myEvent_past" *ngIf="!incomingEvents">
      <a class="eventCard__link" routerLink="/event/{{ event.id - 1 }}" *ngFor="let event of eventList">
        <article class="eventCard">
          <div class="eventCard__category__wrapper">
            <img class="eventCard-img" src="{{ event.images.thumbnail }}" alt="" />
            <h2 class="eventCard__category__name">{{ event.description }}</h2>
          </div>
          <div class="eventCard_descriptionContainer">
            <div class="title__event__history">
              <h5>{{ event.title }}</h5>
            </div>
            <p class="event__history__date">{{ event.dateRange }}</p>
            <p class="eventCard__textDesc">{{ event.description }}</p>
          </div>
        </article>
      </a>
    </section>
  </div>
</main>
 -->
