<main class="myEvent">
  <div class="myEvent_eventContainer">
    <div class="myEvent_nav-container">
      <h2>Mes évènements:</h2>
      <nav class="myEvent-nav">
        <button class="myEvent-button" [ngClass]="{ active: incomingEvents }" (click)="onClickIncoming()">
          <span class="material-symbols-outlined"> event_upcoming </span>
          <h4>A venir!</h4>
        </button>
        <button class="myEvent-button" [ngClass]="{ active: !incomingEvents }" (click)="onClickpast()">
          <span class="material-symbols-outlined"> history </span>
          <h4>passés</h4>
        </button>
      </nav>
    </div>
    <section class="myEvent_incoming" *ngIf="incomingEvents">
      <article class="eventCard" *ngFor="let event of eventList">
        <img class="eventCard-img" src="{{ event.event_pic }}" alt="" />
        <div class="eventCard_cardDescription">
          <h5>{{ event.event_name }}</h5>
          <p>{{ event.event_date }} {{ event.event_time }}</p>
          <p>{{ event.event_desc }}</p>
        </div>
      </article>
    </section>
    <section class="myEvent_past" *ngIf="!incomingEvents">
      <article class="eventCard" *ngFor="let event of eventList">
        <img class="eventCard-img" src="{{ event.event_pic }}" alt="" />
        <h4>{{ event.event_name }}</h4>
        <p>{{ event.event_date }} {{ event.event_time }}</p>
        <p>{{ event.event_desc }}</p>
      </article>
    </section>
  </div>
</main>
