<link rel="stylesheet" href="event-page-event-card.component.scss" />
<div class="event-card">
  <img
    class="event-image"
    src="https://as2.ftcdn.net/v2/jpg/06/59/82/91/1000_F_659829113_OXwM5ccUtrbSpxm6aXEtfsF83KpL9vWf.jpg"
    alt="photo" />
  <h2 class="event-title">Lille piano</h2>
  <p class="event-description">
    Que vous soyez un mélomane averti ou un débutant curieux, cette édition vous séduira par ses (re)découvertes
    accessibles à tous. Découvrez des œuvres, des interprètes et des chefs d'orchestre exceptionnels sur trois jours
    inoubliables. En plus du piano, cette édition met à l'honneur divers claviers, offrant une perspective originale à
    explorer ce printemps.
  </p>
  <h3 class="event-subtitle">Tarif</h3>
  <p class="event-paragraph">gratuit</p>
  <button class="event-button">Participer</button>

  <h2 class="event-subtitle">Participants</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate saepe excepturi commodi eligendi maiores quod
    ullam odio repellendus eius recusandae corporis sapiente nemo blanditiis officiis, aut fuga tempore. Totam
    distinctio vero omnis eveniet, magnam iste sint, molestiae accusamus sit error doloremque tenetur quasi quas culpa
    exercitationem magni consequatur maiores, at perspiciatis. Ab quis doloribus quod veritatis illum nihil temporibus
    ea officiis magnam nesciunt voluptas sunt ipsum ullam facilis quas aliquid provident, ex atque at corporis eos
    laudantium nisi beatae! Soluta rem temporibus obcaecati dignissimos sit impedit iusto cumque at nihil molestias
    earum consequuntur, minus fuga, cum eius vel ad unde. Illum blanditiis suscipit atque nobis recusandae harum tempore
    voluptatem culpa, est, incidunt sequi! Iste non labore dolor asperiores quo voluptas tempora sed excepturi totam!
    Quae amet harum soluta unde, corrupti aperiam quidem neque recusandae obcaecati odit! Nam earum molestias iste, vero
    maxime quod rerum architecto rem quis odit nobis, repudiandae reprehenderit recusandae animi, quia fuga officiis ea.
    Sapiente provident quos laborum nemo debitis. Est dolor earum quaerat iste tenetur nobis quis! Voluptates voluptate
    molestiae quaerat eius expedita incidunt dolorem ipsum earum quibusdam quae. Omnis sunt inventore quo aliquid
    deserunt, culpa esse voluptate repellat magnam perferendis ea nam veritatis neque corrupti!
  </p>
</div>
