<section class="profil">
  <article class="profil_image-container">
    <img class="profil-image" src="assets/images/avatar1.png" alt="" />
    <ul>
      <li class="profil-item">lazy Laaaaz</li>
      <li class="profil-item">emailild.fr</li>
    </ul>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id rem excepturi numquam quia consequuntur dolore saepe
      pariatur aperiam inventore. Quae hic fuga repudiandae quis eaque esse quibusdam aliquid odio distinctio.
    </p>
  </article>
</section>
