<main class="profil">
  <div class="profil_title_container">
    <h2>Mon profil:</h2>
  </div>
  <img class="profil-image" src="{{ userList[userId].picture }}" alt="la photo de profil d'un utilisateur" />

  <ul>
    <li class="profil-item userName"><span class="profil_item-span">Nom:</span>{{ userList[userId].first_name }}</li>
    <li class="profil-item userEmail"><span class="profil_item-span">Email:</span>{{ userList[userId].email }}</li>
    <li class="profil-item userEmail"></li>
    <p class="profil_item-span">A propos de moi:</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id rem excepturi numquam quia consequuntur dolore saepe
      pariatur aperiam inventore. Quae hic fuga repudiandae quis eaque esse quibusdam aliquid odio distinctio.
    </p>
  </ul>

  <!--  <img
    class="profil-illustration"
    src="assets/images/userOrange.svg"
    alt="une illustration de personnes souriantes regardant un téléphone" /> -->
</main>
