<main class="profilContainer">
  <section class="profil">
    <article class="profil_userDescription">
      <img class="profil-image" src="{{ userList[userId].picture }}" alt="la photo de profil d'un utilisateur" />
      <article class="profil_listContainer">
        <ul>
          <li class="profil-item userName">{{ userList[userId].first_name }}</li>
          <li class="profil-item userEmail">{{ userList[userId].email }}</li>
        </ul>
      </article>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id rem excepturi numquam quia consequuntur dolore saepe
        pariatur aperiam inventore. Quae hic fuga repudiandae quis eaque esse quibusdam aliquid odio distinctio.
      </p>
    </article>
  </section>

  <img
    class="profil-illustration"
    src="assets/images/userOrange.svg"
    alt="une illustration de personnes souriantes regardant un téléphone" />
</main>
