@import '../../../../../variables.scss';

.footer {
  background-color: $primary;
  color: $background;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 145px;
}
.footer__title {
  background-color: $primary;
  color: $background;
  margin: 0 1rem;
  text-align: center;
}

.footer__slogan {
  color: $secondary;
  text-align: center;
}
.footer__img {
  width: 5%;
  margin: 8px;
}
