@import '../../../../../variables.scss';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $background;
  justify-content: center;
  align-items: center;
}

.text-block {
  padding: 20px;
  margin: 1rem;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text-block h2 {
  padding: 10px;
  margin-top: 0;
  color: $primary;
}

.text-block p {
  font-size: 16px;
  line-height: 1.5;
  color: $primary;
  padding-bottom: 20px;
}
.button__wrapper {
  width: 100%;
  max-width: 460px;
}
.button-53 {
  z-index: 5;
  background-color: $primary;
  border: 0 solid #e5e7eb;
  color: $background;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-social {
  z-index: 2;
  background-color: $primary;
  border: 0 solid #e5e7eb;
  color: $background;
  display: flex;
  font-size: 1rem;
  justify-content: space-around;
  width: 65%;
  font-weight: 700;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.social {
  cursor: pointer;
  z-index: 5;
}
.social:hover {
  color: $text;
}
.button-53:hover {
  color: $text;
}

.button-53:focus,
.button-social:after {
  outline: 0;
}

.button-53:after,
.button-social:after {
  z-index: 1;
  content: '';
  position: absolute;
  border: 1px solid $text;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after,
.button-social:hover:after {
  bottom: 2px;
  left: 2px;
}
.social {
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: $background;
}

@media (min-width: 768px) {
  .button-53 {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
    height: 62vh;
    align-items: unset;
  }
}
