<div class="container">
  <div class="text-block">
    <h2>Notre concept</h2>
    <p>
      Le phare culturel c'est un concept simple qui se base sur le partage. Parce qu'on a pas toujours quelqu'un avec
      qui sortir ou parce qu'on souhaite agrandir notre cercle, le phare vous permet de remedier à tout ca. Il vous
      suffit de vous créer un compte, vous inscrire à l'evnement que vous desirez et le tour est joué !
    </p>
    <button class="button-53" role="button">Votre profile</button>
  </div>
  <div class="text-block">
    <h2>Nos valeurs</h2>
    <p>
      Nos valeurs sont centrées sur le partage, la convivialité et l'authenticité. Nous croyons en la puissance des
      rencontres humaines et en la richesse des expériences collectives. Chaque événement que nous proposons est conçu
      pour favoriser des échanges sincères et créer des liens durables.
    </p>
    <button class="button-53" role="button" (click)="onClick()">About us</button>
  </div>
  <div class="text-block">
    <h2>Notre communauté</h2>
    <p>
      Notre communauté est composée de passionnés désireux de partager des moments uniques et authentiques. Ensemble,
      nous créons des souvenirs inoubliables en participant à des événements variés. Rejoignez-nous pour rencontrer des
      personnes inspirantes et vivre des expériences enrichissantes.
    </p>
    <button class="button-53" role="button">Nos réseaux</button>
  </div>
</div>
