<section class="titleBar">
  <h1 class="titleBar-title">Le Phare Culturel</h1>
  <div class="titleBar_nav">
    <h1 routerLink="" class="titleBar_nav-title">Le Phare Culturel</h1>
    <ul class="titleBar_nav-container">
      <li class="titleBar_nav-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="titleBar_nav-link">Home</a>
      </li>
      <li class="titleBar_nav-item" routerLink="search" routerLinkActive="active">
        <a class="titleBar_nav-link">Agenda</a>
      </li>
      <li class="titleBar_nav-item" routerLink="user/1" routerLinkActive="active">
        <a class="titleBar_nav-link">{{ logInState }}</a>
      </li>
      <li class="titleBar_nav-item" routerLink="about" routerLinkActive="active">
        <a class="titleBar_nav-link">A propos</a>
      </li>
    </ul>
  </div>
</section>
