<section class="titleBar">
  <h1 class="titleBar-title">Le phare culturel</h1>
  <div class="titleBar_nav">
    <h1 routerLink="" class="titleBar_nav-title">Le phare culturel</h1>
    <ul class="titleBar_nav-container">
      <li class="titleBar_nav-item">
        <a class="titleBar_nav-link" routerLink="" routerLinkActive="active">Home</a>
      </li>
      <li class="titleBar_nav-item">
        <a class="titleBar_nav-link" routerLink="search" routerLinkActive="active">Agenda</a>
      </li>
      <li class="titleBar_nav-item">
        <a class="titleBar_nav-link" routerLink="login">Connexion</a>
      </li>
      <li class="titleBar_nav-item">
        <a class="titleBar_nav-link" routerLink="about">A propos</a>
      </li>
    </ul>
  </div>
</section>
