<div class="container">
  <div class="text-block">
    <h3 class="h2__favorite">
      Coup de coeur de l'équipe <img class="coeur__button" src="/assets/images/coeur.png" alt="Coeur" />
    </h3>
    <p>
      Ce week-end à Lille, ne manquez pas le
      <strong><a class="link" routerLink="event/10682724">Vidéomapping spécial Jeux Olympiques</a></strong> sur la
      façade de l'Hôtel de Ville. Venez découvrir des projections spectaculaires célébrant l'esprit des Jeux avec des
      animations et effets visuels impressionnants. Un événement à ne pas rater pour tous les âges !
    </p>
  </div>
</div>
