<div class="container">
  <div class="text-block">
    <h2>Coup de coeur de l'équipe</h2>
    <p>
      Ce week-end c'est l'un des plus grand festival du nord qui a lieu à seulement une heure de Lille à
      Aulnoye-Aymeries. Pour leur 12ème édition, <strong><u>Les Nuits Secrètes</u></strong> reviennent avec une line up
      qui conviendra à tous les styles. Phoenix, PLK, Shaka Ponk, Luidji, Louise Attaque ou encore Parcels, cette
      nouvelle édition s'annonce incroyable.
    </p>
  </div>
</div>
