@import '../../../variables.scss';

.search-results {
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.data-card {
  padding: 5px;
  margin: 8px 0px;
  width: 20%;
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
  background-color: rgb(236, 234, 111);
}

.searchPage {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 101px);
}

.search_page_title {
  margin-top: 1rem;
  padding: 1rem;
  color: $primary;
}

.calendar_title_container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  color: $primary;
  width: 90vw;
  padding: 0;
}
.calendar-title {
  display: flex;
}

.calendar-container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  padding: 1rem;
  max-width: 800px;
  color: $primary;
  height: 100%;
  opacity: 1;
  cursor: pointer;
  font-size: 1rem;
  backdrop-filter: blur(20px);
  border: 1px solid $primary;
  border-radius: 0.8rem;
}

.close {
  overflow: hidden;
  animation: myAnim 0.1s ease 0s 1 normal forwards;
  display: none;
}

@keyframes myAnim {
  0% {
    opacity: 1;
    height: 100%;
    transform: translateY(0);
  }

  100% {
    height: 0;
    opacity: 0;
    transform: translateY(-10px);
  }
}
.calendar-title__button {
  all: unset;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $primary;
}
.calendar-title__button span {
  background-color: #0000;
  border-radius: 50%;
}
.calendar-title__button:hover {
  background-color: $primary;
  color: $background;
}
.material-symbols-outlined {
  font-size: 2.5rem;
}

@media screen and (min-width: 900px) {
  .searchPage {
    min-height: calc(100vh - 91.5px);
    padding-bottom: 0;
  }
  .calendar_title_container {
    padding: 1rem;
  }
}
