@import '../../../variables.scss';

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px;
}

.container {
  margin: 20px;
}
