<app-filter-bar></app-filter-bar>
<div class="group-card">
  <img
    class="event-image"
    src="https://as2.ftcdn.net/v2/jpg/06/59/82/91/1000_F_659829113_OXwM5ccUtrbSpxm6aXEtfsF83KpL9vWf.jpg"
    alt="photo" />
  <br />
  <h2 class="event-title">Lille piano</h2>
  <img class="avatar" src="../../../assets/../assets/images/avatar1.png" alt="" />
  <h2 class="card-title">Créer un Groupe</h2>
  <div class="form-group">
    <label for="groupName">Nom du Groupe</label>
    <input type="text" id="groupName" class="form-control" placeholder="Entrez le nom du groupe" />
  </div>
  <div class="form-group">
    <label for="participantNumber">Nombre de Participants</label>
    <input type="number" id="participantNumber" class="form-control" placeholder="Entrez le nombre de participants" />
  </div>
  <div class="form-group">
    <label for="meetingTime">Date et Heure de la Rencontre</label>
    <input type="datetime-local" id="meetingTime" class="form-control" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" class="form-control" rows="3" placeholder="Entrez la description du groupe"></textarea>
    <button class="create-button">Créer un Groupe</button>
  </div>
</div>
