<article class="editInfo">
  <h3>Modifier mes informations:</h3>

  <form class="editInfo__form" [formGroup]="editInfoForm" (submit)="onSubmit()">
    <label for="firstname">Nom:</label>
    <input
      class="editInfo__form__input"
      [ngClass]="{
        invalid: editInfoForm.get('firstname')?.invalid,
      }"
      id="firstname"
      type="text"
      placeholder="{{ userList[userId].first_name }}"
      formControlName="firstname" />

    <label for="lastname">Prenom:</label>
    <input
      class="editInfo__form__input"
      [ngClass]="{
        invalid: editInfoForm.get('lastname')?.invalid,
      }"
      id="lastname"
      type="text"
      placeholder="{{ userList[userId].last_name }}"
      formControlName="lastname" />
    <label for="pseudo">Pseudo:</label>
    <input
      class="editInfo__form__input"
      [ngClass]="{
        invalid: editInfoForm.get('pseudo')?.invalid,
      }"
      id="pseudo"
      type="text"
      placeholder="{{ userList[userId].first_name }}"
      formControlName="pseudo" />
    <label for="email">Email:</label>
    <input
      class="editInfo__form__input"
      [ngClass]="{
        invalid: editInfoForm.get('email')?.invalid,
      }"
      type="email"
      placeholder="Email..."
      formControlName="email"
      email />

    <label for="description">Description</label>
    <input
      class="editInfo__form__input"
      [ngClass]="{
        invalid: editInfoForm.get('email')?.invalid,
      }"
      type="text"
      placeholder="{{ userList[userId].description }}"
      formControlName="description"
      email />

    <span *ngIf="editInfoForm.get('email')?.invalid && editInfoForm.get('email')?.dirty">
      Entrez une addresse mail valide.
    </span>
    <button class="editInfo__form__button">editInfo</button>
  </form>
</article>
