<div id="#about-us" class="container">
  <div class="text-block">
    <h2>À propos de nous</h2>
    <p>
      Bienvenue sur notre site dédié à la rencontre et au partage d’expériences ! Nous sommes quatre amis passionnés par
      l'idée de rassembler les gens autour d'événements variés, qu'ils soient culturels, sportifs ou festifs. Notre
      mission est de créer des moments uniques où chacun peut se connecter et partager des souvenirs mémorables.
      Rejoignez-nous et découvrez la magie des rencontres authentiques !
    </p>
  </div>
  <div class="image-block">
    <img src="/assets/images/Group.About.Us.png" alt="Illustration" />
  </div>
</div>
