@import '../../../../../variables.scss';
@import '../../../../../animations.scss';

.myInfo {
  display: flex;
  flex-direction: column;
  max-height: calc(70vh - 135px);
  min-width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.myInfo-image {
  margin: 0 auto;
  width: 50%;
  max-width: 200px;
  max-height: 200px;
}

.myInfo__list {
  margin-top: 1rem;
}
.myInfo-item {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.myInfo__item__title {
  color: $primary;
  display: flex;
  justify-content: center;
}
.myInfo__aboutMe__title {
  display: flex;
  color: $primary;
  padding-top: 0.5rem;
}
.myInfo__item__container {
  display: flex;
}
.myInfo__item__container span {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
.editInfo__form__button {
  all: unset;
  cursor: pointer;
}
.myInfo-item__description {
  display: flex;
  flex-direction: column;
}
.myInfo p {
  width: 100%;
  margin-top: 0.5rem;
}
.descriptionForm {
  background-color: red;
  width: 100%;
  display: -webkit-box;
  height: 50px;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .myInfo {
    max-height: calc(80vh - 135px);
    padding: 1rem;
  }

  .myInfo-image {
    animation: fadeInCenter 0.3s linear 0s 1 normal forwards;
  }

  .myInfo-item {
    animation: fadeInRight 0.8s ease 0s 1 normal forwards;
  }

  .myInfo__aboutMe__title {
    animation: fadeInRight 0.8s ease 0s 1 normal forwards;
  }

  .myInfo p {
    animation: fadeInBottom 0.5s ease 0s 1 normal forwards;
  }
}
