@import '../../../../../variables.scss';
@import '../../../../../animations.scss';

.myInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myInfo-image {
  width: 50%;
  max-width: 200px;
  max-height: 200px;
}

.myInfo-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  list-style: none;
}
.myInfo__item__title {
  color: $primary;
  display: flex;
  justify-content: center;
}
.myInfo__aboutMe__title {
  display: flex;
  color: $primary;
  padding: 0.5rem 1rem;
}
.profil_details {
  display: none;
}

.myInfo p {
  padding: 0.5rem 1rem;
}
@media screen and (min-width: 900px) {
  .myInfo-image {
    animation: fadeInCenter 0.3s linear 0s 1 normal forwards;
  }

  .myInfo-item {
    animation: fadeInRight 0.8s ease 0s 1 normal forwards;
  }

  .myInfo__aboutMe__title {
    animation: fadeInRight 0.8s ease 0s 1 normal forwards;
  }

  .myInfo p {
    animation: fadeInBottom 0.5s ease 0s 1 normal forwards;
  }
}
@media screen and (min-width: 1200px) {
}
