<section class="myInfo">
  <img
    class="myInfo-image"
    src="{{ userList ? userList[userId].picture : '' }}"
    alt="la photo de profil d'un utilisateur" />
  <h5 class="myInfo__pseudo">{{ userList ? userList[userId].first_name : '' }}</h5>
  <ul class="myInfo__list">
    <li class="myInfo-item">
      <h5 class="myInfo__item__title">
        <span class="material-symbols-outlined"> id_card </span>
        Nom:
      </h5>
      <div class="myInfo__item__container">
        @if (editFirstname) {
          <form class="editInfo__form" [formGroup]="editFirstnameForm">
            <input
              class="myInfo__form__input"
              [ngClass]="{
                invalid: editFirstnameForm.get('firstname')?.invalid,
              }"
              id="firstname"
              type="text"
              placeholder="{{ userList ? userList[userId].first_name : '' }}"
              formControlName="firstname"
              (blur)="onBlurFirstname($event)" />
          </form>
        } @else {
          {{ userList ? userList[userId].first_name : '' }}
          <button class="editInfo__form__button" (click)="editFirstname = true">
            <span class="material-symbols-outlined"> edit </span>
          </button>
        }
      </div>
    </li>
    <li class="myInfo-item">
      <h5 class="myInfo__item__title">
        <span class="material-symbols-outlined"> id_card </span>
        Prénom:
      </h5>

      <div class="myInfo__item__container">
        @if (editLastname) {
          <form class="editInfo__form" [formGroup]="editLastnameForm">
            <input
              class="myInfo__form__input"
              [ngClass]="{
                invalid: editLastnameForm.get('firstname')?.invalid,
              }"
              id="lastname"
              type="text"
              placeholder="{{ userList ? userList[userId].last_name : '' }}"
              formControlName="lastname"
              (blur)="onBlurLastname($event)" />
          </form>
        } @else {
          {{ userList ? userList[userId].last_name : '' }}
          <button class="editInfo__form__button" (click)="editLastname = true">
            <span class="material-symbols-outlined"> edit </span>
          </button>
        }
      </div>
    </li>
    <li class="myInfo-item">
      <h5 class="myInfo__item__title">
        <span class="material-symbols-outlined"> mail </span>
        Email:
      </h5>
      <div class="myInfo__item__container">
        @if (editEmail) {
          <form class="editInfo__form" [formGroup]="editEmailForm">
            <input
              class="myInfo__form__input"
              [ngClass]="{
                invalid: editEmailForm.get('firstname')?.invalid,
              }"
              id="email"
              type="email"
              placeholder="{{ userList ? userList[userId].email : '' }}"
              formControlName="email"
              (blur)="onBlurEmail($event)" />
          </form>
        } @else {
          {{ userList ? userList[userId].email : '' }}
          <button class="editInfo__form__button" (click)="editEmail = true">
            <span class="material-symbols-outlined"> edit </span>
          </button>
        }
      </div>
    </li>
    <li class="myInfo-item__description">
      <h5 class="myInfo__aboutMe__title">
        <span class="material-symbols-outlined"> description </span>
        A propos de moi:
      </h5>
      <div class="myInfo__item__container">
        @if (editDescription) {
          <form class="editInfo__form descriptionForm" [formGroup]="editDescriptionForm">
            <textarea
              class="descriptionForm"
              [ngClass]="{
                invalid: editDescriptionForm.get('description')?.invalid,
              }"
              id="description"
              type="textarea"
              placeholder="{{ userList ? userList[userId].description : '' }}"
              formControlName="description"
              (blur)="onBlurDescription($event)">
            </textarea>
          </form>
        } @else {
          <p>{{ userList ? userList[userId].description : '' }}</p>
          <button class="editInfo__form__button" (click)="editDescription = true">
            <span class="material-symbols-outlined"> edit </span>
          </button>
        }
      </div>
    </li>
  </ul>
</section>
