<nav>
  <ul>
    <li>
      <a routerLink="home" class="">
        <span class="material-symbols-outlined"> home </span>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a routerLink="user" class="">
        <span class="material-symbols-outlined"> account_circle </span>
        <span>Account</span>
      </a>
    </li>
    <li>
      <a routerLink="search" class="">
        <span class="material-symbols-outlined"> calendar_month </span>
        <span>Calendar</span>
      </a>
    </li>
  </ul>
</nav>
