@import '../../../variables.scss';

.registerPage {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 101px);
}

@media screen and (min-width: 900px) {
  .registerPage {
    min-height: calc(100vh - 91.5px);
  }
}
