<a routerLink="/event/{{ event && event.id - 1 }}" class="eventCard__link">
  <article class="eventCard">
    <div class="eventCard__category__wrapper">
      <img class="eventCard-img" src="{{ event && event.event_pic }}" alt=" {{ event && event.event_category }}" />
      <h2 class="eventCard__category__name">{{ event && event.event_category }}</h2>
    </div>
    <div class="eventCard__description">
      <h3 class="eventCard__title">{{ event && event.event_name }}</h3>
      <p class="eventCard__date">
        {{ event && event.event_date }}
        <span class="eventCard__time">{{ event && event.event_time }}</span>
      </p>
      <p class="eventCard__description">{{ event && event.event_desc }}</p>
    </div>
  </article>
</a>
