<a routerLink="/event/{{ event && event.uid }}" class="eventCard__link">
  <article class="eventCard">
    <img class="eventCard-img" src="{{ event && event.images.thumbnail }}" alt=" {{ event && event.description }}" />

    <div class="eventCard__description">
      <h3 class="eventCard__title">{{ event && event.title }}</h3>
      @if (event.first_timing.begin !== event.last_timing.begin) {
        <p class="eventCard__date">A Partir du {{ localeStartDateString }}, jusqu'au {{ localeEndDateString }}</p>
      } @else {
        <p class="eventCard__date">{{ localeStartDateString }}</p>
      }
      <p class="eventCard__address">{{ event && event.location.address }}</p>

      <p class="eventCard__description">{{ event && event.description }}</p>
    </div>
  </article>
</a>
