<main class="chatPage">
  <section class="chatPage__container">
    <aside class="chatPage__container__aside">
      <div class="chatPage__button__return">
        <button type="button" class="button-57" role="button">
          <span class="text">Retour</span><span>Retour</span>
        </button>
      </div>
      <article class="chatPage__container__aside__groupMember" *ngFor="let message of messageList">
        <img class="chatPage__container__aside__avatarPic" src="{{ message.user.avatar }}" alt="an avatar picture" />
        <p class="chatPage__container__aside__userName">{{ message.user.first_name }}</p>
      </article>
    </aside>

    <section class="chatPage__container__chatWindow">
      <app-single-message-card
        *ngFor="let message of messageList"
        [message]="message"
        [ngClass]="{ ownCard: message.user.id === 101 }" />

      <div class="textarea__container">
        <form class="chatPage__container__chatWindow__form" [formGroup]="userMessage">
          <textarea
            class="chatPage__container__chatWindow__textArea"
            name="userMessage"
            id="userMessage"
            formControlName="userMessage"
            placeholder="Ecrivez votre message"
            >{{ currentMessage }}</textarea
          >
        </form>
        <button
          type="submit"
          (click)="submitMessage()"
          [disabled]="!userMessage.valid"
          class="chatPage__textarea__sendButton">
          <span class="material-symbols-outlined"> send</span>
        </button>
      </div>
    </section>
  </section>
</main>
