@import '../../../variables.scss';

.hidden {
  display: none;
}
.eventPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 101px);
  padding-bottom: 70px;
}
.groupComponents {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .eventPage {
    min-height: calc(100vh - 91.5px);
    padding-bottom: 0px;
  }
}
