<main class="eventPage">
  <app-event-page-event-card (testhidden)="setHidden($event)" [hidden]="hidden"></app-event-page-event-card>
  <section class="groupComponents__container" [ngClass]="{ hidden: !hidden }">
    <div class="eventPage__return">
      <button class="test" (click)="hide()">
        <span class="material-symbols-outlined"> arrow_circle_left </span>
        Retour évènement
      </button>
      <h2 class="groupComponents__title">Rejoignez un groupe ou créez le votre !</h2>
    </div>
    <app-join-group class="groupComponents"></app-join-group>
    <app-creat-group class="groupComponents"></app-creat-group>
  </section>
</main>
