@import '../../../variables.scss';

.loginPage {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 101px);
  max-height: calc(100vh - 101px);
  /* background-color: #e0e1a6;
background-image: linear-gradient(0deg, #e0e1a6 0%, #f3e8eb 16%, #df3462 100%); **/
}

@media screen and (min-width: 900px) {
  .loginPage {
    min-height: calc(100vh - 91.5px);
  }
}
