@import '../../../variables.scss';

.loginPage {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 101px);
  max-height: calc(100vh - 101px);
}

@media screen and (min-width: 900px) {
  .loginPage {
    min-height: calc(100vh - 91.5px);
  }
}
