<main class="joinGroup">
  <div class="joinGroup__titleContainer">
    <h3 class="joinGroup__title">Rejoindre !</h3>
    <button type="button" (click)="onClick()" class="closeButton">
      <span *ngIf="!hideJoinGroup" class="material-symbols-outlined"> arrow_circle_up </span>
      <span *ngIf="hideJoinGroup" class="material-symbols-outlined"> arrow_circle_down </span>
    </button>
  </div>
  <section class="joinGroup__groupContainer" [ngClass]="{ hidden: hideJoinGroup }">
    <app-group-card *ngFor="let group of groupList" [group]="group"></app-group-card>
  </section>
</main>
